%h1 About  
%p  
  AdminTools is a WebApp written in Sinatra.
  %br/
  It was build on the need for an easy Webinterface so you can easily
  manage your transport and relay_domains file s
  for your postfix when you use it as a relay server for your antispam environment.
