%h1 Welcome  
%p  
  Welcome to AdminTools

%br

%h2 MXTools
%p
  Use MXTools to manage your Mail Gateways, Relay Servers and the domain list for allowed domains.

%h2 CSCM
%p
  CSCM (Core Switch Configurations) was build to have an overview of all the configured VLANS, Networks etc on some Core Switches.

%h2 Whois
%p
  Make whois requests for domains through the webinterface. Results will be stored in the db.

%h2 Logger
%p
  Logger is the Frontend for the syslog server which receives Syslogs from clients and stores them in MongoDB. This page is for viewing.